body {
    font-family: 'Noto Sans', sans-serif;
    color: #323232;
}

.container {
    padding: 4rem 0.4rem;
}

svg {
    width: 18px;
    fill: #718096;
}

.card {
    max-width: 23.75rem;
    margin: 0 auto;
    border: 1px solid #a8a1a1;
    box-shadow: 3px 3px 5px #a8a1a1;
    border-radius: 5px;
}